:root {
    --main-color: rgba(0, 20, 137, 1);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

/* content */
#content {
    width: 90%;
    display: block;
    margin: auto;
}

/* tiểu sử */
#content .chel_tieusu {
    width: 100%;
    border-radius: 20px;
}

.section-heading {
    text-transform: uppercase;
    text-shadow: 2px 2px var(--main-color);
    font-size: 40px;
}


/* ----players---- */


.content-section {
    height: auto;
    /* background-color: aqua; */
    text-align: center;
    margin: 40px auto;
    font-size: 15px;
}

.section-decription {
    margin: 15px 0px;
    color: rgba(0, 0, 0, 0.326);
    font-style: italic;
}

.about-text {
    text-align: justify;
    line-height: 30px;
    margin: 30px auto;
}

/* cầu thủ */
#players-chel {
    display: block;
    margin: auto;
}


#players ul {
    display: flex;
    margin: 60px 0px;
    flex-wrap: wrap;
    justify-content: center;
    
}


#players>h1 {
    display: block;
    font-size: 27px;
    color: var(--main-color);
    margin: 50px auto;
    text-transform: uppercase;
    font-weight: 900;
    width: fit-content;
    padding: 6px 10px;
    box-shadow: var(--main-color) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 30px/90px;
}


#players>h1:hover {
    display: block;
    box-shadow: var(--main-color) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-shadow: -1px 0 rgba(255, 247, 0, 0.6), 0 3px rgba(255, 247, 0, 0.65), 3px 0 rgba(255, 247, 0, 0.65), 0 -2px rgba(255, 247, 0, 0.6);

}

#players>h1>a {
    color: rgb(0, 0, 0);
}

#players ul>li {
    position: relative;
    display: flex;
    height: 350px;
    width: 300px;
    border: 1px solid blue;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--main-color) 0px 0px 15px 0px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    justify-content: center;
    margin: 20px 20px;

}

#players .information {
    position: absolute;
    display: block;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: fit-content;
    margin: auto;
    background-color: var(--main-color);
}



#players .avatar_img {
    border: 2px solid var(--main-color);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    object-fit: cover;
    box-shadow: var(--main-color) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


}

#players .profile {
    position: relative;
    display: block;
    margin: auto;
    width: 124px;
    height: 124px;
    margin-top: 20px;
    /* background-color: var(--main-color); */
    color: white;
    margin-bottom: 10px;
    /* border: 1px solid #001489; */
    font-weight: 800;
}

#players .profile .detail_avatar {
    width: 300px;
    height: 350px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    display: none;
    margin-top: -22px;
    margin-left: -89px;
    box-shadow: var(--main-color) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    /* background-image: linear-gradient(to right, transparent, mistyrose); */

}

#players .profile_players {
    /* width: fit-content; */
    display: block;
    margin: auto;
    position: relative;
    /* width: fit-content; */
    border-radius: 50%;
    height: 120px;
    flex-wrap: wrap;

}

#players .profile_players>div {
    margin-bottom: 20px;
}


#players .profile_players:hover .shirt_number,
#players .profile_players:hover .detail_avatar {
    display: block;
    cursor: pointer;

}

#players .profile_players:hover .shirt_number {
    position: absolute;
    width: min-content;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2px;
}


/* #players .profile_players:hover .shirt_number {
    color: rgb(255, 255, 255);
    text-align: center;
    width: fit-content;
    padding-bottom: 2px;
} */


#players .profile_players:hover .detail_profile {
    position: relative;
    display: flex;
    box-shadow: var(--main-color) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: white;
    height: 350px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -89px;
    margin-top: -22px;

}

.mendy {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url("https://i0.wp.com/bongda7m.net/wp-content/uploads/2022/03/logo-mendy.jpg");

}

.kepa {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url("https://i.pinimg.com/736x/ef/e5/4a/efe54a26db6f9b35d5d8cee4a96e5b02.jpg");

}

.rudiger {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url("https://w0.peakpx.com/wallpaper/232/499/HD-wallpaper-antonio-rudiger-german-footballers-chelsea-fc-soccer-premier-league-rudiger-goal-neon-lights-england.jpg");

}

.alonso {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/58/291/HD-wallpaper-marcos-alonso-abstract-art-football-stars-chelsea-soccer-alonso-premier-league-footballers-neon-lights-chelsea-fc.jpg);

}

.christensen {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/200/449/HD-wallpaper-andreas-christensen-with-cup-chelsea-fc-danish-footballers-uefa-europa-league-abstract-art-soccer-football-neon-lights-andreas-bodtker-christensen-andreas-christensen.jpg);

}

.silva {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/942/175/HD-wallpaper-thiago-silva-2020-chelsea-fc-brazilian-footballers-premier-league-thiago-emiliano-da-silva-soccer-thiago-silva-chelsea-football-blue-neon-lights-england-thiago-silva.jpg);

}

.chalobah {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://breakingthelines.com/wp-content/uploads/2021/11/chalobah1.png);

}

.chilwell {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/634/497/HD-wallpaper-ben-chilwell-2020-chelsea-fc-english-footballers-premier-league-benjamin-james-chilwell-soccer-ben-chilwell-chelsea-football-blue-neon-lights-england-ben-chilwell.jpg);

}

.james {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/618/993/HD-wallpaper-reece-james-chelsea-soccer-nike-football-chelsea-fc.jpg);

}

.cesar {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/581/27/HD-wallpaper-cesar-azpilicueta-goal-chelsea-fc-spanish-footballers-premier-league-soccer-cesar-azpilicueta-tanco-neon-lights-england-football.jpg);

}

.sarr {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://i2-prod.football.london/incoming/article22792885.ece/ALTERNATES/s1200c/0_GettyImages-1364781348.jpg);

}

.jorginho {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/943/740/HD-wallpaper-jorginho-abstract-art-football-stars-chelsea-soccer-jorge-luiz-frello-filho-premier-league-footballers-neon-lights-chelsea-fc.jpg);

}

.kante {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/751/1023/HD-wallpaper-ngolo-kante-goal-french-footballers-abstract-art-chelsea-fc-soccer-kante-premier-league-football-neon-lights.jpg);

}

.kovacic {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/853/212/HD-wallpaper-mateo-kovacic-2020-chelsea-fc-croatian-footballers-premier-league-soccer-mateo-kovacic-chelsea-football-blue-neon-lights-mateo-kovacic.jpg);

}

.ruben {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/1007/960/HD-wallpaper-ruben-loftus-cheek-english-footballers-midfielder-chelsea-fc-soccer-premier-league-loftus-cheek-neon-lights-artwork.jpg);

}

.saul {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://besthqwallpapers.com/Uploads/5-9-2021/178116/thumb2-saul-niguez-4k-2021-chelsea-fc-spanish-footballers.jpg);

}

.barkley {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/957/752/HD-wallpaper-ross-barkley-midfield-chelsea-fc-english-footballers-soccer-barkley-premier-league-football-neon-lights.jpg);

}

.mount {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/806/124/HD-wallpaper-mason-mount-2020-chelsea-fc-english-footballers-premier-league-soccer-mount-chelsea-football-blue-neon-lights-england-mason-mount.jpg);

}

.lukaku {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/672/95/HD-wallpaper-romelu-lukaku-chelsea-soccer-blue-belgian-football.jpg);

}

.pulisic {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/355/892/HD-wallpaper-christian-pulisic-2019-chelsea-fc-american-footballers-premier-league-soccer-christian-mate-pulisic-football-neon-lights-england-pulisic-chelsea.jpg);

}

.werner {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/2/450/HD-wallpaper-timo-werner-2020-chelsea-fc-german-footballers-premier-league-soccer-timo-werner-chelsea-football-blue-neon-lights-england-timo-werner.jpg);

}

.odoi {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/364/1011/HD-wallpaper-callum-hudson-odoi-chelsea-fc-english-footballers-soccer-callum-james-hudson-odoi-premier-league-football-neon-lights-england.jpg);

}

.ziyech {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/610/348/HD-wallpaper-hakim-ziyech-2020-chelsea-fc-moroccan-footballers-premier-league-benjamin-james-chilwell-soccer-hakim-ziyech-chelsea-football-blue-neon-lights-england-hakim-ziyech.jpg);

}

.kennedy {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://media.gettyimages.com/photos/kenedy-of-chelsea-during-the-pre-season-friendly-match-between-and-picture-id1332473892?s=612x612);

}

.kai {
    background: linear-gradient(to bottom, transparent, rgb(96, 102, 141)),
        url(https://w0.peakpx.com/wallpaper/896/1/HD-wallpaper-kai-havertz-2020-chelsea-fc-german-footballers-premier-league-kai-lukas-havertz-soccer-kai-havertz-chelsea-football-blue-neon-lights-england-kai-havertz.jpg);

}



#players .profile_players:hover .detail_profile1 {
    display: none;
}

#players .profile p {
    display: none;
}

#players .profile_players:hover .detail_profile div>p {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.504);
}

#players .detail_profile hr {
    display: none;
}

#players .profile_players:hover .detail_profile hr {
    display: block;
    position: absolute;
    background-color: rgb(0 20 137 / 46%);
    width: 90%;
    height: 2px;
    border: 0px;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
}

#players .profile_players:hover .name_players {
    position: absolute;
    text-transform: uppercase;
    background-color: unset;
    width: min-content;
    display: block;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, 37%);
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0px 2px 10px rgb(255, 255, 255);

}

#players .profile .age {
    display: none;
}

#players .profile .position {
    display: none;
}


#players .profile_players:hover .age {
    display: block;
    position: absolute;
    width: min-content;
    left: 5%;
    bottom: 14%;
}

#players .profile_players:hover .national_players {
    display: block;
    position: absolute;
    width: min-content;
    right: 5%;
    bottom: 11%;

}

#players .profile_players:hover .national_players img {
    border: 1px solid wheat;
    border-radius: 17px;
    cursor: pointer;
}


#players .profile_players:hover .position {
    display: block;
    position: absolute;
    width: min-content;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);

}

#players .profile_players:hover .about_me,
#players .profile_players:hover .avatar_img,
#players .profile_players:hover .social-media {
    display: none;
}



#players .name_players {
    position: relative;
    display: block;
    /* font-size: 20px; */
    color: white;
    /* background-color: #001489; */
    color: #001489;
    height: fit-content;
    width: max-content;
    text-shadow: 2px 0px 10px #001489;
    left: 50%;
    transform: translateX(-50%);
    margin: 8px 0px;
}

#players .national_players {
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 10px auto;
    object-fit: cover;


}

#players .national_players img {
    box-shadow: 0px 0px 8px #001489;
    cursor: pointer;
}

#players .national_players img:hover {
    box-shadow: 0px 3px 10px var(--main-color);
    cursor: pointer;
}



#players .shirt_number {
    color: white;
    display: flex;
    background-color: var(--main-color);
    border-radius: 10px;
    width: fit-content;
    line-height: 20px;
    margin: auto;
    display: none;
    border: 1px solid black;
}

#players .social-media {
    width: fit-content;
    display: flex;
    position: relative;
    margin: 0px auto;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#players .profile_players:hover {
    z-index: 1;

}

#players .social-media a {
    position: relative;
    display: flex;
    font-size: 25px;
    color: #ffffff;
    height: 40px;
    width: 40px;
    margin: 0px 8px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    filter: blur(0.5px);
}

.fa-instagram {
    color: #ee2a7b;
    background-color: #ee2a7b;
    border: 0px solid #ee2a7b;
}

.fa-twitter {
    color: #1d9bf0;
    background-color: #1d9bf0;
    border-top: #1d9bf0;
}

.fa-facebook {
    color: #0d8af0;
    background-color: #0d8af0;
    border-top: #0d8af0;
}

.fa-youtube {
    color: #ff0000;
    background-color: #ff0000;
    border-top: #ff0000;
}

#players .social-media>a:hover {
    font-size: 28px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.519), 0px -2px 5px rgba(255, 255, 255, 0.3);
    filter: blur(0px);
}

.social_hide {
    display: none;

    background-color: inherit;
    color: #ffffff;
    width: fit-content;
    height: 20px;
    border-top: inherit;

}

#players .social-media span:after {
    position: absolute;
    content: "";
    background-color: inherit;
    z-index: -1;
    bottom: 25%;
    width: 8px;
    height: 8px;
    left: 50%;
    transform: translate(-50%, 100%) rotate(45deg);
}

#players .social-media>a:hover span {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 14px;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 8px 8px;
    text-transform: capitalize;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.833), 0px -2px 5px rgba(255, 255, 255, 0.3);


}


#players .about_me {
    position: relative;
    display: flex;
    border: 2px solid var(--main-color);
    padding: 5px 10px;
    border-radius: 10px;
    padding-top: 3px;
    justify-content: center;
    top: 25%;
    /* left: 50%; */
    color: var(--main-color);
    -webkit-appearance: none;
}

#players .about_me:hover {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}